body {
    text-align: center;
}

h2 {
    font-size: 48px;
}

li {
    font-size: .5em;
    line-height: 1.5em;
}

button {
    margin-left: 5px;
}

#left h2 ul, #right h2 ul {
    max-height: 280px;
    overflow-y: scroll;
}

.container {
    border-radius: 25px;
}